.container {
  width: 100%;
  height: 100%;

  &.flex {
    display: flex;
    flex-direction: column-reverse;
  }
}

.col {
  width: 100%;

  &.right {
    display: none;
    background: url(/src/img/rpark-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .inner {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }
}
ul {
  &.circle {
    list-style: circle;
    margin: 0 10px;

    li {
      padding: 0 10px;
    }
  }

  &.no-bullet {
    list-style: none;
  }

  li {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 0;
  }
}

@media screen and (min-width: $sm) {
  main {
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
  }
  .container {
    width: 100%;

    &.flex {
      display: flex;
      flex-direction: row;
    }
  }
  .col {
    &.left {
      max-width: 60%;
      height: auto;
      overflow-y: scroll;
    }

    &.right {
      display: block;
      max-width: 40%;
    }

    .inner {
      width: 90%;
      padding: 2rem;
    }
  }
}

@media screen and (min-width: $lg) {
  .col {
    &.left,
    &.right {
      max-width: 50%;
    }

    .inner {
      width: 90%;
      padding: 1rem 2rem;
    }
  }
}
