h1,
h3,
p {
  margin-bottom: 20px;
}
h1 {
  line-height: 1.1;

  span {
    display: block;
  }
}
h1.title,
h3 {
  line-height: 1.4;
}
p {
  line-height: 1.8;
}
h1.name {
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.875rem;
  margin-bottom: 0;
}
h1.title {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0;
}
h3.location {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}
p.intro {
  font-size: 1rem;
  font-weight: 300;
}

p.quote {
  font-size: 0.875rem;
  font-weight: 400;
  border-left: 1px solid $black;
  padding: 10px 20px;
}

@media screen and (min-width: $sm) {
  h1 {
    line-height: 1.4;

    span {
      display: inline;
    }
  }
}
